* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 200px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#card-image {
  width: 20 px;
  height: 20 px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-image: url("../assets/tree_life.jpg");
}

.imgnav {
  width: 200px;
  background-image: url("../assets/tree_life.jpg");
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;

  background-color: #003233;
  /* background-color: #00c0f3; */
  /* background-image: url("../assets/life_1.jpg"); */
}

.button-container {
  margin: 200px;
}

.background {
  background-image: url("../assets/life_1.jpg");
}

.text-align {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.btn-circle.btn-xl {
  padding: 250px;
}

.btn-circle.btn-xl.red {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
  margin: auto;
}

.btn-circle.btn-xl.blue {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
  margin: auto;
}

.btn-circle.btn-xl.gray {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
  margin: auto;
}

.btn-circle.btn-xl.green {
  width: 150px;
  height: 150px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
  margin: auto;
}

.form-control {
  height: auto;
}
.form-group {
  width: 250px;
  margin: auto;
  text-align: center;
}

.form-inline {
  text-align: center;
  margin: 120 px;
}

.root-button {
  margin: auto;
  width: 250px;
  height: auto;
}

.button-items {
  color: #f1f1f1;
  text-align: center;
}

.copyright {
  color: #ddd;
}

.image-size {
  height: 50px;
  width: 195px;
  margin: 3px;
}

.image-size-icon {
  margin: 37px;
}

/* .form-size {
  margin: 100px;
} */

/* 
#weather_icon {
  width: 200%;
  height: 200%;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  margin-left: -50px;

  /* margin-top: 200px; */
/* }

#city_info {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: 400px;
  margin-left: 50px; */
/* /* margin-right: 150px; 
} */

#menu_pos {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: 100px;
}

.icon {
  height: 1px;
  width: 1px;
}

/* img {
  border-radius: 4px;
  width: 100px;
  padding: 10px;
  margin-left: 50px;
  margin-top: 25px;
} */

/*Remove that CSS*/
.col-md-3 {
  margin-left: 5%;
}
/*Remove that CSS*/

button {
  margin: 50px;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  outline: none !important;
  width: 100%;
}

button:active {
  outline: none;
}

button.ribbon {
  outline: none;
  outline-color: transparent;
}
button.ribbon:before,
button.ribbon:after {
  top: 5px;
  z-index: -10;
}
button.ribbon:before {
  border-color: #53dab6 #53dab6 #53dab6 transparent;
  left: -25px;
  border-width: 17px;
}
button.ribbon:after {
  border-color: #53dab6 transparent #53dab6 #53dab6;
  right: -25px;
  border-width: 17px;
}

button:before,
button:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
  outline: none;
}

button.btn-default:before {
  background-color: #00c0f3;
}
button.btn-default:after {
  background-color: #00c0f3;
}

button.btn-primary:before {
  border-color: #2e6da4 #2e6da4 #2e6da4 transparent;
}
button.btn-primary:after {
  border-color: #2e6da4 transparent #2e6da4 #2e6da4;
}

button.btn-success:before {
  border-color: #398439 #398439 #398439 transparent;
}
button.btn-success:after {
  border-color: #398439 transparent #398439 #398439;
}

button.btn-info:before {
  border-color: #269abc #269abc #269abc transparent;
}
button.btn-info:after {
  border-color: #269abc transparent #269abc #269abc;
}

button.btn-warning:before {
  border-color: #d58512 #d58512 #d58512 transparent;
}
button.btn-warning:after {
  border-color: #d58512 transparent #d58512 #d58512;
}

button.btn-danger:before {
  border-color: #ac2925 #ac2925 #ac2925 transparent;
}
button.btn-danger:after {
  border-color: #ac2925 transparent #ac2925 #ac2925;
}
button.btn-danger:after {
  border-color: #ac2925 transparent #ac2925 #ac2925;
}

.travel-card {
  z-index: -1;
}

.news-card {
  z-index: -1;
}

.travel-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mat-card-image {
  /* object-fit: cover; this makes de image in src fit to the size of specified below */
  /* width: 85%; 
  height: 85%;
  padding-top: 60px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute; */
  height: 268px;
  width: 350px;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 60px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 1px;
  background-size: cover;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  align-content: center;
}

.news-card {
  width: 1200x;
  margin: auto;
  height: 300px;
  background-color: #ededed;
}

#first {
  width: 500px;
  float: left;
  height: 300px;
  /* margin: auto; */
}

#second {
  width: 600px;
  padding-top: 60px;
  float: left;
  height: 300px;
  margin: auto;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.cric-card {
  width: 1200x;
  margin: auto;
  height: 900px;
  background-image: url("../assets/cricket_6.png");
}

#first_c {
  width: 800px;
  float: left;
  height: 2px;
  margin-left: 100px;
  /* margin: auto; */
}

#second_c {
  width: 500px;
  /* margin-top: 60px; */
  float: left;
  height: 520px;
  margin-top: 220px;
  margin-left: 840px;
  /* margin: auto; */
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* .cric_card {
  width: 1000px;
  background-image: url("../assets/cricket_5.png");
} */

.cricket_icon {
  /* padding-top: 1400px; */
  /* margin-right: 100px; */
  width: 550px;
  height: 500px;
  background-image: url("../assets/cricket_1.png");
  /* position: relative; */
}

.copyright {
  margin-top: 10px;
  margin-left: 40px;
}

.background {
  background-color: #ededed;
}

/* .lifesoul {
  padding-left: 700px;
} */

.row {
  width: 500 px;
}

#dura {
  margin-left: 300px;
  margin-top: 0px;
}

#price {
  margin-left: 600px;
  margin-top: 0px;
}

img {
  border-radius: 4px;
  width: 50px;
  padding: auto;
  margin: auto;
}

.image_div {
  padding: 5px;
  margin: auto;
}
