<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar color="primary"></mat-toolbar>

    <mat-nav-list>
      <a mat-list-item (click)="menu()">Cricket</a>
      <a mat-list-item (click)="formWeather()">Weather</a>
      <a mat-list-item (click)="getBlog()">Blog</a>
      <!-- <a mat-list-item (click)="documents()">Documentation</a>
      <a mat-list-item (click)="logs()">Logs</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>lifesoul</span> -->
    </mat-toolbar>
    <!-- 
    <div *ngIf="menuInfo" id="menu_pos">
      <button class="btn btn-primary" (click)="cricketScore()">
        Live Matches
      </button>
      <button class="btn btn-primary" (click)="upcomingScore()">
        Upcoming Matches
      </button>
      <button class="btn btn-primary" (click)="playerForm()">
        Player Info
      </button>
    </div> -->

    <!-- Blog data -->

    <mat-table
      class="lessons-table mat-elevation-z8"
      *ngIf="blog_state"
      [dataSource]="blogData"
    >
      <ng-container matColumnDef="blog">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <h5 [innerHTML]="item.title"></h5>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Blog</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <h5 [innerHTML]="item.content"></h5>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="blogscolumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: blogscolumns"></mat-row>
    </mat-table>

    <!-- Cricket data -->


<div class="container" *ngIf="menuInfo">
	<!-- <div class="row">
		<h2>Cricket</h2>
	</div> -->
    
    <div class="row">
    
    <div class="col-md-6">       <!-- Standard button -->
<button type="button" class="btn btn-default ribbon" (click)="cricketScore()">Live Score</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary ribbon" (click)="upcomingScore()">Upcoming Matches</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success ribbon" (click)="playerForm()">Player Info</button>

</div>
</div>
</div>

    <!-- <mat-table
      class="lessons-table mat-elevation-z8"
      *ngIf="menuInfo"
      [dataSource]="menuItems"
    >
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
          {{ item.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef>
          <button ng-click="items"*ng-repeat="let items of cricketfunctions">
            {{ item }}
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="cricketcolumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: cricketcolumns"></mat-row>
    </mat-table> -->

    <mat-table
      class="lessons-table mat-elevation-z8"
      *ngIf="cricInfo"
      [dataSource]="characters"
    >
      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Team A">
        <mat-header-cell *matHeaderCellDef>Team A</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let item">{{
          item.teamA
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Team B">
        <mat-header-cell *matHeaderCellDef>Team B</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.teamB
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Toss">
        <mat-header-cell *matHeaderCellDef>Toss</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.toss
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Winner">
        <mat-header-cell *matHeaderCellDef>Winner</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.winner
        }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-table
      class="lessons-table mat-elevation-z8"
      *ngIf="upcomingInfo"
      [dataSource]="characters"
    >
      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Team A">
        <mat-header-cell *matHeaderCellDef>Team A</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let item">{{
          item.teamA
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Team B">
        <mat-header-cell *matHeaderCellDef>Team B</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.teamB
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Toss">
        <mat-header-cell *matHeaderCellDef>Toss</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.toss
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Winner">
        <mat-header-cell *matHeaderCellDef>Winner</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.winner
        }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-table
      class="lessons-table mat-elevation-z8"
      *ngIf="weatherInfo"
      [dataSource]="weather"
    >
      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef>Place</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.full_name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Team A">
        <mat-header-cell *matHeaderCellDef>Weather</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let item">{{
          item.weather
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Team B">
        <mat-header-cell *matHeaderCellDef>Temperature</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.temp_celsius
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Toss">
        <mat-header-cell *matHeaderCellDef>Humidity</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.relative_humidity
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Winner">
        <mat-header-cell *matHeaderCellDef>Visibility(in km)</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.visibility_km
        }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div id="weather_icon" *ngIf="icon_state">
      <img [src]="icon_img" />
    </div>

    <mat-table
      class="lessons-table mat-elevation-z8"
      *ngIf="playerBio && bat"
      [dataSource]="playerData"
    >
      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef>Player Name</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Team A">
        <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let item">{{
          item.full_name
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Team B">
        <mat-header-cell *matHeaderCellDef>Batting Style</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.battingStyle
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Toss">
        <mat-header-cell *matHeaderCellDef>Player Role</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.player_role
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Winner">
        <mat-header-cell *matHeaderCellDef>Teams</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let item">{{
          item.teams
        }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div *ngIf="weatherForm" class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h3>Live Weather !!</h3>
            <form
              name="form"
              (ngSubmit)="f.form.valid && liveWeather()"
              #f="ngForm"
              novalidate
            >
              <div class="form-group">
                <label for="firstName">State/Country</label>
                <input
                  type="text"
                  class="form-control"
                  name="firstName"
                  [(ngModel)]="model.firstName"
                  #firstName="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                  required
                />
                <div
                  *ngIf="f.submitted && firstName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="firstName.errors.required">State is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="lastName">City</label>
                <input
                  type="text"
                  class="form-control"
                  name="lastName"
                  [(ngModel)]="model.lastName"
                  #lastName="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
                  required
                />
                <div
                  *ngIf="f.submitted && lastName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="lastName.errors.required">City is required</div>
                </div>
              </div>
              <!-- <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required">Email is required</div>
                                <div *ngIf="email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                <div *ngIf="password.errors.required">Password is required</div>
                                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div> -->
              <div class="form-group">
                <button class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="playerform" class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h3>Player Info</h3>
            <form
              name="form"
              (ngSubmit)="f.form.valid && playerScore()"
              #f="ngForm"
              novalidate
            >
              <div class="form-group">
                <label for="firstName">Player Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="firstName"
                  [(ngModel)]="model.firstName"
                  #firstName="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                  required
                />
                <div
                  *ngIf="f.submitted && firstName.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="firstName.errors.required">
                    Player Name is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <log-test></log-test> -->
  </mat-sidenav-content>
</mat-sidenav-container>
